*.png export-ignore
*.jpg export-ignore
*.jpeg export-ignore
*.gif export-ignore
*.svg export-ignore
test/* export-ignore
tests/* export-ignore
*.test.* export-ignore
*.sublime-project export-ignore
*.sublime-workspace export-ignore